.payment {
    background-color: gray;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-holder {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
}

.pay-form {
    padding: 30px 50px;
    color: white;
    margin: 0 20px;

    &__heading {
        margin-bottom: 50px;
    }

    &__main-list {
        list-style: none;
    }

    &__list {
        display: inline;
    }

    &__link {
        text-decoration: none;
        color: white;
        padding: 0 20px;
        font-family: 'pacificoregular';
        transition: border ease-in-out 0.5s;

        &:hover {
            border-bottom: 2px solid orangered;
        }

        &:active {
            border-bottom: solid orangered; 
        }
    }


    &__label {
        width: 100%;
        line-height: 30px;
    }

    &__input {
        position: relative;
        outline: none;
        border: 2px solid #A689CA;
        border-radius: 0;
        height: 45px;
        padding: 10px 7px;
        width: 100%;
        background: none;
        margin: 0 0 15px;
        width: 260px;
        max-width: 100%;
        color: white;
    }

    &__input-checkbox {
        position: relative;
        margin-bottom: 15px;
    }

    &__checkbox {
        appearance: none;
        position: absolute;
    }

    &__checkbox-label {
        font-size: 15px;
        padding-left: 25px;
    }

    &__checkbox-label::before {
        content: "";
        display: block;
        width: 15px;
        height: 15px;
        border: 1px solid white;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }

    &__checkbox-label::after {
        content: "";
        display: block;
        width: 15px;
        height: 15px;
        background: url(../../icons/check.png) no-repeat;
        background-size: 15px 15px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
    }

    &__btn {
        background: #23AE92;
        height: 40px;
        width: 260px;
        max-width: 100%;
        border: none;
        transition: all ease-in-out 0.5s;
        cursor: pointer;
        color: white;
        margin: 0 0 15px;
    }

    &__btn:hover {
        transform: scale(1.1);
    }

    &__main-list {
        list-style: none;
        display: flex;
    }

    &__listik {
        display: inline;
        padding: 0 20px;
    }

    &__link-footer {
        color: grey;
        font-size: 15px;
        transition: color ease-in-out 0.5s;
    }

    &__link-footer:hover {
        color: whitesmoke;
    }

}